@charset "UTF-8";
.white {
  margin: 0px auto;
  width: 1225px;
  height: 3450px;
  background-color: #ffffff; }

.fixed-menu {
  position: fixed; }

.left-container {
  float: left;
  width: 275px;
  height: 3450px;
  background-color: #131321; }

.top-layer {
  width: 950px;
  height: 435px;
  background-image: url("../image/layer-1.png");
  position: relative;
  float: left; }

.logo {
  width: 275px;
  height: 225px;
  position: relative;
  background-size: 100%;
  z-index: 99;
  padding-top: 0px;
  margin-top: 0px; }

.menu a {
  display: block;
  text-decoration: none;
  padding-left: 35px;
  margin-top: 2px;
  background-color: #353541;
  color: #ffffff;
  font-family: "Raleway" ,sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px; }

.menu a:hover {
  background-color: #fb6470;
  font-size: 24px; }

.SignIn {
  width: 450px;
  display: none;
  margin-left: 220px;
  background-color: #131321;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  font-family: "Raleway" ,sans-serif;
  color: #fff;
  border: 2px solid #131321;
  border-radius: 10px; }

.SignIn div {
  margin-left: 15px; }

.SignIn input {
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  border: 3px solid #353541;
  border-radius: 10px;
  font-family: "Raleway" ,sans-serif;
  color: #131321;
  outline: none; }

.SignIn input:nth-child(3) {
  background-color: #353541;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  color: #fff; }

.SignIn input:nth-child(3):hover {
  background-color: #fb6470;
  font-size: 24px;
  border: 3px solid #fb6470;
  border-radius: 10px; }

.lets {
  width: 624px;
  height: 46px;
  color: #ffffff;
  font-family: "Raleway Semi-Bold",sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 36.48px;
  margin-top: 115px;
  margin-left: 155px;
  margin-right: 205px; }

.underLets {
  /* Style for "I’m an UI" */
  width: 475px;
  height: 43px;
  opacity: 0.75;
  color: #ffffff;
  font-family: "Raleway" ,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  margin-right: 272px;
  margin-left: 195px;
  text-align: center; }

.btn-lets {
  width: 173px;
  height: 52px;
  background-color: #fb6470;
  border-radius: 5px;
  margin-left: 348px;
  margin-top: 65px; }

.btn-lets div {
  width: 100px;
  height: 16px;
  color: #ffffff;
  font-family: "Raleway" ,sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 36.48px;
  padding-top: 8px;
  margin-left: 37px; }

.a-btn-lets {
  text-decoration: none; }

.main-info {
  position: absolute;
  margin-top: 550px;
  margin-left: 380px;
  width: 743px;
  height: 1284px; }

.pfText {
  /* Style for "Portfolio" */
  width: 123px;
  height: 25px;
  color: #3e3e3e;
  font-family: "Raleway" ,sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px; }

.underpfText {
  /* Style for "Rectangle" */
  width: 79px;
  height: 2px;
  background-color: #fb6470;
  margin-top: 20px; }

.nav {
  color: #3e3e3e;
  font-family: "Raleway" ,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px; }

.nav ul li {
  display: inline-block;
  width: 75px;
  height: 18px;
  color: #3e3e3e;
  font-family: "Raleway" ,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px; }

.nav ul li:hover {
  color: #fb6470;
  cursor: pointer; }

.nav ul li:nth-child(1) {
  margin-right: 105px; }

.nav ul li:nth-child(2) {
  margin-right: 140px; }

.nav ul li:nth-child(3) {
  margin-right: 140px; }

.nav ul li:nth-child(4) {
  float: right; }

.nav ul li a {
  text-decoration: none; }

.linenav {
  width: 743px;
  height: 2px;
  background-color: #000000;
  opacity: 0.2; }

.linenavcolor1 {
  width: 112px;
  height: 2px;
  background-color: #fb6470;
  opacity: 0.8;
  margin-top: -2px; }

.linenavcolor2 {
  display: none;
  width: 112px;
  height: 2px;
  background-color: #fb6470;
  opacity: 0.8;
  margin-top: -2px;
  margin-left: 190px; }

.linenavcolor3 {
  display: none;
  width: 112px;
  height: 2px;
  background-color: #fb6470;
  opacity: 0.8;
  margin-top: -2px;
  margin-left: 420px; }

.linenavcolor4 {
  display: none;
  width: 112px;
  height: 2px;
  background-color: #fb6470;
  opacity: 0.8;
  margin-top: -2px;
  float: right; }

.category {
  margin-top: 65px; }

.category .category-block {
  display: inline-block;
  width: 360px;
  height: 352px; }

.category .category-block:nth-child(even) {
  float: right; }

.category .category-block:nth-child(1) {
  background-image: url("../image/block_1.png");
  background-repeat: no-repeat;
  background-color: #01b9c3; }

.category .category-block:nth-child(2) {
  background-image: url("../image/block_2.png");
  background-repeat: no-repeat;
  background-color: #1e2e3e; }

.category .category-block:nth-child(3) {
  background-image: url("../image/block_3.png");
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #3f3d3e; }

.category .category-block:nth-child(4) {
  background-image: url("../image/block_4.png");
  background-repeat: no-repeat;
  background-repeat: none;
  margin-top: 15px;
  background-color: #0093b5; }

.category .category-block:nth-child(5) {
  background-image: url("../image/block_5.png");
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #3f3d3e; }

.category .category-block:nth-child(6) {
  background-image: url("../image/block_6.png");
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #6176ab; }

.category .category-block div {
  width: 363px;
  height: 223px; }

.category .category-block div:nth-child(1) {
  width: 183px;
  height: 21px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 50px; }
