.white {
  margin: 0px auto;
  width: 1225px;
  height: 3450px;
  background-color: #ffffff; }

.fixed-menu {
  position: fixed; }

.left-container {
  float: left;
  width: 275px;
  height: 3450px;
  background-color: #131321; }

.top-layer {
  width: 950px;
  height: 437px;
  background-color: #353541;
  position: relative;
  float: left; }

.logo {
  width: 275px;
  height: 225px;
  position: relative;
  background-size: 100%;
  z-index: 99;
  padding-top: 0px;
  margin-top: 0px; }

.header {
  width: 624px;
  height: 207px;
  float: left;
  margin-top: 115px;
  margin-left: 123px;
  background-color: red; }

.menu a {
  display: block;
  text-decoration: none;
  padding-left: 35px;
  margin-top: 4px;
  background-color: #353541;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px; }

.menu a:hover {
  background-color: #fb6470;
  font-size: 24px; }

.SignIn {
  width: 450px;
  display: none;
  margin-left: 220px;
  background-color: #131321;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  font-family: Raleway;
  color: #fff;
  border: 2px solid #131321;
  border-radius: 10px; }

.SignIn div {
  margin-left: 15px; }

.SignIn input {
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  border: 3px solid #353541;
  border-radius: 10px;
  font-family: Raleway;
  color: #131321;
  outline: none; }

.SignIn input:nth-child(3) {
  background-color: #353541;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  color: #fff; }

.SignIn input:nth-child(3):hover {
  background-color: #fb6470;
  font-size: 24px;
  border: 3px solid #fb6470;
  border-radius: 10px; }

.reg {
  top: 500px;
  width: 950px;
  height: 500px;
  background-color: #353541;
  float: left;
  margin: 0px auto; }
