$color:#353541;

.slider{
  width: 930px;
  height: 420px;
  margin-left: 10px;
}
.img{
  text-align:center;
  line-height: 410px;
  font-size: 50px;
  color: #fff;
  display: none;
}
.img.curry{
  display:block;
}
.img:first-child{
  width: 930px;
  height: 420px;
  background-color:#ca0f1f;
}
.img:nth-child(2){
  width: 930px;
  height: 420px;
  background-color:#0add75;
}
.img:nth-child(3){
  width: 930px;
  height: 420px;
  background-color:#0AB6DD;
}
.img:nth-child(4){
  width: 930px;
  height: 420px;
  background-color:#fd7ed;
}
.img:nth-child(5){
  width: 930px;
  height: 420px;
  background-color:#bfbfbf;
}
.n{
  color:#575757;
}
a{
  text-decoration: none;
  color:#fd7ead;
  font-size: 20px;
}
a:hover{
  color:#0AB6DD;
}
.prev{
    position: relative;
    top:220px;
    left: 40px;
    z-index: 2;   
}
.next{
 position: relative;
    bottom:220px;
    left: 870px;
    z-index: 2;   


}
.white{
  margin:0px auto;
  width: 1225px;
  height: 3450px;
  background-color: #ffffff;
}
.fixed-menu{
  position: fixed;
}
.left-container{
  float: left;
  width: 275px;
  height: 3450px;
 background-color: #131321;
}
.top-layer{
width: 950px;
height: 437px;
background-color: #353541;
position:relative;
float:left;


}
.logo{
width: 275px;
height: 225px;
position: relative;
background-size: 100%;
z-index: 99;
padding-top: 0px;
margin-top: 0px;
}

.menu a{
  display:block;
  text-decoration: none;
  padding-left: 35px;
  margin-top: 4px;
  background-color: $color;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  }
.menu a:hover{
 background-color: #fb6470;
 font-size: 24px;
}
.SignIn{
  width: 450px;
  display: none;
  margin-left: 220px;
  background-color: #131321;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  font-family: Raleway;
  color: #fff;
  border: 2px solid #131321;
  border-radius: 10px;
}
.SignIn div{
  margin-left: 15px;
}
.SignIn input{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  border: 3px solid #353541;
  border-radius: 10px;
  font-family: Raleway;
  color: #131321;
  outline: none;
  
}

.SignIn input:nth-child(3){
  background-color:#353541;
  width: 150px;
  height: 50px;
  margin-bottom:15px;
  color:#fff;
}
.SignIn input:nth-child(3):hover{
  background-color:#fb6470;
  font-size: 24px;
  border: 3px solid #fb6470;
  border-radius: 10px;
}
.reg{
  top: 500px;
  width: 950px;
  height: 500px;
  background-color:#353541;
  float: left;
  margin:0px auto;
}







