$color:#353541;
.white{
  margin:0px auto;
  width: 1225px;
  height: 3450px;
  background-color: #ffffff;
}
.left-container{
  float: left;
  width: 275px;
  height: 3450px;
 background-color: #131321;
}
.top-layer{
width: 950px;
height: 437px;
background-color: #353541;
position:relative;
float:left;


}
.logo{
width: 275px;
height: 221px;
position: relative;
z-index: 99;
background-color: #131321;
padding-top: 0px;
margin-top: 0px;
}
.header{
  width: 624px;
  height: 207px;
  float: left;
  margin-top: 115px;
  margin-left: 123px;
  background-color: red;
}
.menu a{
  display:block;
  text-decoration: none;
  padding-left: 35px;
  margin-top: 4px;
  background-color: $color;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  }
.menu a:hover{
 background-color: #131321;
 font-size: 24px;
}
.SignIn{
  display:none;
  padding-top:5px;
  padding-left: 10px;
  width: 300px;
  height: 150px;
  margin-top:25px;
  margin-left: 30px;
  background-color:$color;
  color: #fff;
  font-family: Raleway;
  font-weight:500;
  line-height: 50px;
  font-size: 16px;
}
.SignIn input{
  display: inline-block;
  float: right;
  margin-top: 12px;
  margin-right: 20px;
  border: 2px #fff solid;
  border-radius: 5px;
}
.reg{
  top: 500px;
  width: 950px;
  height: 500px;
  background-color: red;
  float: left;
  margin:0px auto;
}
.test{
  top: 500px;
  width: 950px;
  height: 500px;
  background-color: red;
  float: left;
  margin:0px auto;
}






