
.white{
  margin:0px auto;
  width: 1225px;
  height: 3450px;
  background-color: #ffffff;
}
.fixed-menu{
  
}
.left-container{
  float: left;
  width: 275px;
  height: 3450px;
 background-color: #131321;
}
.top-layer{
width: 950px;
height: 435px;
background-image: url("../image/layer-1.png");
position:relative;
float:left;


}
.logo{
width: 275px;
height: 225px;
position: relative;
background-size: 100%;
z-index: 99;
padding-top: 0px;
margin-top: 0px;
}

.menu a{
  display:block;
  text-decoration: none;
  padding-left: 35px;
  margin-top: 2px;
  background-color:  #353541;
  color: #ffffff;
  font-family:"Raleway" ,sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  }
.menu a:hover{
 background-color: #fb6470;
 font-size: 24px;
}
.SignIn{
  position: absolute;
  display: none;
  width: 450px;
  height: 180px;
  margin-top: 20px;
  margin-left: 245px;
  background-color: #131321;
  font-size: 22px;
  font-weight: 500;
  line-height: 62px;
  font-family:"Raleway" ,sans-serif;
  color: #fff;
  border: 2px solid #131321;
  border-radius: 10px;
}
.SignIn div{
  margin-left: 15px;
}
.SignIn input[type=submit]{
  float: right;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  font-family: "Raleway" ,sans-serif;
  color: #131321;
  outline: none;
  cursor: pointer;
}
.SignIn div:last-child{
  float: right;
}
.SignIn input[type=submit]:hover{
  background-color: #fb6470;
  
}
.SignIn input[type=text]{
  float: right;
  position: relative;
  right: 30px;
  bottom: 45px;
}
.SignIn input[type=password]{
  float: right;
  position: relative;
  right: 30px;
  bottom: 45px;

}
.Registration{
  position: absolute;
  display: none;
  width: 450px;
  margin-top: 10px;
  margin-left: 245px;
  background-color: #131321;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  font-family:"Raleway" ,sans-serif;
  color: #fff;
  border: 2px solid #131321;
  border-radius: 10px;
}
.Registration div{
  margin-left: 15px;
}
.Registration input[type=submit]{
  float: right;
  margin-right: 30px;
  font-family: "Raleway" ,sans-serif;
  color: #131321;
  outline: none;
  cursor: pointer;
}
.Registration input[type=submit]:hover{
  background-color: #fb6470;
}
.Registration input[type=text]{
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}
.Registration div input[type=email]{
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}
.Registration input[type=password]{
  float: right;
  margin-right: 30px;
  margin-top: 15px;

}

.lets{

width: 624px;
height: 46px;
color: #ffffff;
font-family: "Raleway Semi-Bold",sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 36.48px;
margin-top: 115px;
margin-left: 155px;
margin-right: 205px;
}
.underLets{
  /* Style for "I’m an UI" */
width: 475px;
height: 43px;
opacity: 0.75;
color: #ffffff;
font-family: "Raleway" ,sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 29px;
margin-right: 272px;
margin-left: 195px;
text-align: center;
}
.btn-lets{
width: 173px;
height: 52px;
background-color:#353541;
border-radius: 5px;
margin-left: 348px;
margin-top: 65px;
}
.btn-lets:hover{
background-color: #fb6470;
}
.btn-lets div{
width: 105px;
height: 16px;
color: #ffffff;
font-family: "Raleway" ,sans-serif;
font-size: 22px;
font-weight: 500;
line-height: 36.48px;
padding-top: 8px;
margin-left: 37px;
}
.a-btn-lets{
  display: inline-block;
  text-decoration: none;
}
.main-info{
  position: absolute;
  margin-top: 550px;
  margin-left: 380px;
 
  width: 743px;
  height: 1284px;
}
.pfText{
  /* Style for "Portfolio" */
width: 123px;
height: 25px;
color: #3e3e3e;
font-family: "Raleway" ,sans-serif;
font-size: 32px;
font-weight: 500;
line-height: 50px;
}
.underpfText{
  /* Style for "Rectangle" */
width: 79px;
height: 2px;
background-color: #fb6470;
margin-top: 20px;
}
.nav{
  color: #3e3e3e;
font-family: "Raleway" ,sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 50px;
}
.nav ul li{
display: inline-block;
width: 75px;
height: 18px;
color: #3e3e3e;
font-family: "Raleway" ,sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 50px;
}
.nav ul li:hover{
  color: #fb6470;
  cursor: pointer;
}
.nav ul li:nth-child(1){
  margin-right: 105px;

}
.nav ul li:nth-child(2){
  margin-right: 140px;
}
.nav ul li:nth-child(3){
  margin-right: 140px;
}
.nav ul li:nth-child(4){
  float: right;
 
}
.nav ul li a{
  text-decoration: none;
}

.linenav{
width: 743px;
height: 2px;
background-color: #000000;
opacity: 0.2;
}
.linenavcolor1{
width: 112px;
height: 2px;
background-color: #fb6470;
opacity: 0.8;
margin-top: -2px;
}
.linenavcolor2{
display: none;
width: 112px;
height: 2px;
background-color: #fb6470;
opacity: 0.8;
margin-top: -2px;
margin-left: 190px;
}
.linenavcolor3{
display: none;
width: 112px;
height: 2px;
background-color: #fb6470;
opacity: 0.8;
margin-top: -2px;
margin-left: 420px;
}
.linenavcolor4{
display: none;
width: 112px;
height: 2px;
background-color: #fb6470;
opacity: 0.8;
margin-top: -2px;
float: right;
}
.category{
    margin-top: 65px;
}
.category .category-block{
 
  display: inline-block;
  width: 360px;
  height: 352px;

}
.category .category-block:nth-child(even){
  float: right;
}
.category .category-block:nth-child(1){
  background-image: url("../image/block_1.png");
  background-repeat: no-repeat;
  background-color: #01b9c3;
}
.category .category-block:nth-child(2){
 background-image: url("../image/block_2.png");
 background-repeat: no-repeat;
  background-color: #1e2e3e;
}
.category .category-block:nth-child(3){
  background-image: url("../image/block_3.png");
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #3f3d3e;
}
.category .category-block:nth-child(4){
  background-image: url("../image/block_4.png");
  background-repeat: no-repeat;
  background-repeat: none;
  margin-top: 15px;
  background-color: #0093b5;
}
.category .category-block:nth-child(5){
  background-image: url("../image/block_5.png") ;
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #3f3d3e;
}
.category .category-block:nth-child(6){
  background-image: url("../image/block_6.png");
  background-repeat: no-repeat;
  margin-top: 15px;
  background-color: #6176ab;
}
.category .category-block div{
 width: 363px;
 height: 223px;
}
.category .category-block div:nth-child(2){
width: 300px;
height: 21px;
color: #ffffff;
font-family: "Raleway", sans-serif;
font-size: 22px;
font-weight: 500;
line-height: 50px;
margin-left: 19px;
}
.category .category-block div:nth-child(3){
width: 180px;
height: 16px;
opacity: 0.8;
color: #ffffff;
font-family: "Raleway",sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 50px;
margin-left: 19px;
margin-top: 10px;
}
.category .category-block a div{
width: 90px;
height: 14px;
color: #ffffff;
opacity: 0.8;
font-family: "Raleway",sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 50px;
margin-left: 19px;
margin-top: 25px;
}
.category .category-block a {
text-decoration: none;
}
.category .category-block a :hover {
color:#fb6470;
}
.category .category-block div:nth-child(5){
  width: 95px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 19px;
  margin-top: 25px;
  opacity: 0.8;
}
.about{
  width: 733px;
  height: 400px;
  margin-top:80px;
}
.leave_msg{
  width: 265px;
  height: 306px;
  float: left; 
  color: #3e3e3e;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
}
.leave_msg_form div{
  
  width: 270px;
  height: 70px;
  color: #3e3e3e;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
}
.leave_msg_form input:nth-child(1){
  padding-left: 15px;
  display: inline-block;
  width: 250px;
  height: 35px;
  color: #3e3e3e;
  font-family:'Raleway-MediumItalic',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
#msg_leave{
  height: 80px;
}


.btn_leave_msg {
  margin-top: 35px;
  width: 95px;
  height: 35px;
  float: right; 
  font-size: 14px;
  text-align: center;
  background-color:#fff; 
  display: inline-block;
  font-family:'Raleway-MediumItalic',sans-serif;
  background-color:#353541;
  border:none;
  color: #fff;
}
.btn_leave_msg:hover {
 
  background-color: #fb6470;
}
.line{
  margin-top: 31px;
  width: 1px;
  height: 250px;
  background-color: #000000;
  opacity: 0.2;
  float: left;
  margin-left: 75px;
}
.location{
  width: 336px;
  height: 306px;
  float: right;
}
.location ul li{
 display: block;
}
.location ul li{
  width: 335px;
  height: 43px;
  margin-top: 30px;
  list-style: none;
  margin-left: -39px;
}
.location ul li:nth-child(2){
  margin-top: 60px;
  }
  .location ul li:nth-child(3){
  margin-top: 60px;
  }
  .location_img_1{ 
    width: 32px;
    height: 32px;
    background-image: url("../image/home.png");
    position: relative;
    top:6px;
  }
.location_img_2{ 
    background-image: url("../image/mail.png");
    width: 32px;
    height: 32px;
    position: relative;
    top:6px;
  }
 .location_img_3{ 
    background-image: url("../image/phone.png");
       width: 32px;
    height: 32px;
    position: relative;
    top:6px;
  }
  .location_text{
    position: relative;
    top:-36px;
    float:right;
    height: 53px;
    width: 258px;
  
  }
  .location_text div:nth-child(1){
  width: 109px;
  height: 15px;
  color: #3e3e3e;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  }
  .location_text div:nth-child(2){
  margin-top: 23px;
  width: 258px;
  height: 14px;
  opacity: 0.8;
  color: #3e3e3e;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  }



#signIn_login-error{
    height: 15px;
    font-size: 12px;
    color:red;
    position: relative;
    top: -65px;
    float: right;
    right: 70px;
  }
#signIn_pwd-error{
    position: absolute;
    font-size: 12px;
    color:red;
    display: inline-block;
    top:90px;
    float: right;
    right: 65px;
  }

  #leave_msg_form_email-error{
    width: 200px;
    height: 25px;
    display: inline-block;
    font-size: 12px;
    color:red;
    position: relative;
    top:-20px;
  }
  #leave_msg_form_name-error{
    font-size: 12px;
    color:red;
    position: relative;
    top:-20px;
}
  #msg_leave-error{
    font-size: 12px;
    color:red;
    position: relative;
    top:-20px;
}
#reg_login-error{
    font-size: 12px;
    color:red;
    position:absolute;
    top:30px;
    left:145px;
}





